repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.5.0'
    hooks:
      - id: ruff
        args: [., --fix, --exit-non-zero-on-fix]
        pass_filenames: false
      - id: ruff-format
        args: [.]
        pass_filenames: false

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.10.1'  # Use the sha / tag you want to point at
    hooks:
      - id: mypy
        pass_filenames: false
        args: ['xontrib', 'xonsh_jupyter', '--ignore-missing-imports']
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
              docs/_static/.+
          )$
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
